uploads/
upgrade/
no_git/

**/vendor/
**/wp-content/
**/node_modules/
**/.cache/
**/public/
**/build/
**/bin/

composer.lock
yarn.lock
yarn-error.log
lerna-debug.log

**/composer.lock
**/yarn.lock
**/yarn-error.log
**/lerna-debug.log

themes/twentynineteen/**
themes/twentyseventeen/**
themes/twentysixteen/**
themes/twentytwenty/**


